.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: inherit;
    text-decoration: none;
    z-index: 3;
  }

.footer__column-link:visited {
    color: inherit;
  }  