.section-title{
    width: 60%;
    text-align: center;
    margin: 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 3a32f0fe9fe286306adb4054ce76df2fa79e49c8
